<div class="container-fluid page-header py-5 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Sister Companies</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item text-primary active" aria-current="page">Sister Companies</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase mb-3">Sister Companies </h6>
                <h1 class="display-6 mb-4">Behsa </h1>
                <p class="mb-3">The experience of long-term cooperation with the veterinary pharmaceutical companies
                    of the world has made Behrood Company to become one of the most reliable, regular and well-known
                    domestic suppliers of veterinary drugs in Iran and neighboring countries after a quarter of a
                    century.</p>
                <p>The latest products of this company include antibiotic, antiseptic and anti-inflammatory sprays, as
                    well as anti-parasitic drugs for pets and horses, whose technical specifications are mentioned in
                    this brochure.
                </p>
                <p>The latest products of this company include antibiotic, antiseptic and anti-inflammatory sprays, as
                    well as anti-parasitic drugs for pets and horses, whose technical specifications are mentioned in
                    this brochure.
                </p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="assets/img/home-hero-A00.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>