<!-- Page Header Start -->
<div class="container-fluid page-header py-5 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Sister Companies</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item text-primary active" aria-current="page">Sister Companies</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container sister-company">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-blue">
                
                    <h3> Behsa Pharmaceutical Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-green">
                
                    <h3> Paeizan Darou Distribution Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-orange">
                
                    <h3> Behrood Mokamel Feed supplement Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-red">
                
                    <h3> Dian Olka Import- Export Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
            </div>
        </div>
    </div>
</div>