<!-- Page Header Start -->
<div class="container-fluid page-header py-5 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Sister Companies</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item text-primary active" aria-current="page">Sister Companies</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container sister-company">
    <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-blue">
                
                    <h3> Behsa Pharmaceutical Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-green">
                
                    <h3> Paeizan Darou Distribution Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-orange">
                
                    <h3> Behrood Mokamel Feed supplement Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box h-100 bg-red">
                
                    <h3> Dian Olka Import- Export Co. </h3>
                
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square bg-primary">
                        <i class="fa fa-building fa-2x text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5>Behsa</h5>
                        <span>Pharmaceutical Co.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square bg-primary">
                        <i class="fa fa-building fa-2x text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5>Paeizan Darou</h5>
                        <span>Distribution Co.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square bg-primary">
                        <i class="fa fa-building fa-2x text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5>Behrood Mokamel</h5>
                        <span>Feed supplement Co.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                <div class="d-flex">
                    <div class="flex-shrink-0 btn-lg-square bg-primary">
                        <i class="fa fa-building fa-2x text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5>Dian Olka</h5>
                        <span>Import- Export Co.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>