<!-- Page Header Start -->

<div class="container-fluid courses p-0 m-0">
    <div class="container-fluid page-header py-5 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Sister Companies</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item text-primary active" aria-current="page">Sister Companies</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container pb-6">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Behsa</div>
                        <h5 class="mb-3">Pharmaceutical Co.</h5>
                        <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="assets/img/home-hero-A02.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" routerLink="/sister-company/product-detail">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Paeizan Darou </div>
                        <h5 class="mb-3">Distribution Co.</h5>
                        <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="assets/img/home-hero-A00.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" routerLink="/sister-company/product-detail">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Behrood Mokamel</div>
                        <h5 class="mb-3">Feed supplement Co.</h5>
                        <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="assets/img/home-hero-A05.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" routerLink="/sister-company/product-detail">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Dian Olka</div>
                        <h5 class="mb-3">Import- Export Co.</h5>
                        <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="assets/img/home-hero-A05.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" routerLink="/sister-company/product-detail">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>