<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Target Species</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item text-primary active" aria-current="page">Target Species</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="container-fluid mt-5 product-container">
    <div class="d-flex bg-white flex-row shadow nav-border">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3 nav-shadow pb-5" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-cattle-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-cattle" type="button" role="tab" aria-controls="v-pills-cattle"
                    aria-selected="true">
                    Cattle
                </button>
                <button class="nav-link" id="v-pills-ship-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-ship" type="button" role="tab" aria-controls="v-pills-ship"
                    aria-selected="false">
                    Sheep & Goats
                </button>
                <button class="nav-link" id="v-pills-poultry-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-poultry" type="button" role="tab" aria-controls="v-pills-poultry"
                    aria-selected="false">
                    Poultry
                </button>
                <button class="nav-link" id="v-pills-horse-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-horse" type="button" role="tab" aria-controls="v-pills-horse"
                    aria-selected="false">
                    Horse
                </button>
                <button class="nav-link" id="v-pills-dogs-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-dogs" type="button" role="tab" aria-controls="v-pills-dogs"
                    aria-selected="false">
                    Dogs & Cats
                </button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active pt-4 me-4" id="v-pills-cattle" role="tabpanel"
                    aria-labelledby="v-pills-cattle-tab">
                    <div class="ms-3">
                        <h3>Cattle</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias eum fugiat
                            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at
                            magnam modi iusto porro excepturi.</p>
                    </div>
                </div>
                <div class="tab-pane fade pt-4 me-4" id="v-pills-ship" role="tabpanel"
                    aria-labelledby="v-pills-ship-tab">
                    <div class="ms-3">
                        <h3>Sheeps & Goats</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias eum fugiat
                            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at
                            magnam modi iusto porro excepturi.</p>
                    </div>
                </div>
                <div class="tab-pane fade pt-4 me-4" id="v-pills-poultry" role="tabpanel"
                    aria-labelledby="v-pills-poultry-tab">
                    <div class="ms-3">
                        <h3>Poultry</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias eum fugiat
                            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at
                            magnam modi iusto porro excepturi.</p>
                    </div>
                </div>
                <div class="tab-pane fade pt-4 me-4" id="v-pills-horse" role="tabpanel"
                    aria-labelledby="v-pills-horse-tab">
                    <div class="ms-3">
                        <h3>Horse</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias eum fugiat
                            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at
                            magnam modi iusto porro excepturi.</p>
                    </div>
                </div>
                <div class="tab-pane fade pt-4 me-4" id="v-pills-dogs" role="tabpanel"
                    aria-labelledby="v-pills-dogs-tab">
                    <div class="ms-3">
                        <h3>Dogs & Cats</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias eum fugiat
                            asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime at
                            magnam modi iusto porro excepturi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>